@using SteamEngine.Models
@model GameViewModel

    @{
    ViewBag.Title = "Index";

    }

    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GameTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Developer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publisher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FriendsPlaying)
            </th>
        </tr>

        
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.GameTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.ImageUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Developer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Publisher)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.ReleaseDate)

            <td>
                @Html.DisplayFor(modelItem => Model.FriendsPlaying)
            </td>
          
        </tr>
    

    </table>
